@model AyseSagcolak.Models.Subscriber
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

            <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active" style="background-image: url(/Content/assets/img/hero-carousel/1.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">En İyi İş Bilgileri</h2>
                            <p class="animate__animated animate__fadeInUp">İşinizi Kurmanıza Yardımcı Oluyoruz</p>
                            <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Başla</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(/Content/assets/img/hero-carousel/2.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Hesap Makinesi Sevindi</h2>
                            <p class="animate__animated animate__fadeInUp">Yapacakmış biber kapının kulu masanın cezbelendi masanın çünkü sandalye</p>
                            <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Başla</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(/Content/assets/img/hero-carousel/3.jpg) ">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Bilgiyasayarı Sinema</h2>
                            <p class="animate__animated animate__fadeInUp">layıkıyla otobüs sarmal açılmadan dolayı sıla sıla patlıcan</p>
                            <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Başla</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section><!-- End Hero Section -->
<main id="main">
    <div id="blog" class="blog-area">
        <div class="blog-inner area-padding">
            <div class="blog-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Blog Yazıları</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start Left Blog -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-blog">
                            <div class="single-blog-img">
                                <a href="blog.html">
                                    <img src="/Content/assets/img/blog/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-meta">
                                <span class="comments-type">
                                    <i class="fa fa-comment-o"></i>
                                    <a href="#">13 yorum</a>
                                </span>
                                <span class="date-type">
                                    <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                                </span>
                            </div>
                            <div class="blog-text">
                                <h4>
                                    <a href="blog.html">Masanın ekşili çorba orta camisi</a>
                                </h4>
                                <p>
                                    Kendi işini kurmak isteyen girişimcilere network marketing'in temel dinamklerini öğretmek, en doğru başlangıç yöntemleriyle bu sektörde başarılı olamanın yollarını göstermek
                                </p>
                            </div>
                            <span>
                                <a href="blog.html" class="ready-btn">Devamı...</a>
                            </span>
                        </div>
                        <!-- Start single blog -->
                    </div>
                    <!-- End Left Blog-->
                    <!-- Start Left Blog -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-blog">
                            <div class="single-blog-img">
                                <a href="blog.html">
                                    <img src="/Content/assets/img/blog/2.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-meta">
                                <span class="comments-type">
                                    <i class="fa fa-comment-o"></i>
                                    <a href="#">130 yorum</a>
                                </span>
                                <span class="date-type">
                                    <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                                </span>
                            </div>
                            <div class="blog-text">
                                <h4>
                                    <a href="blog.html">Masanın ekşili çorba orta camisi</a>
                                </h4>
                                <p>
                                    Kendi işini kurmak isteyen girişimcilere network marketing'in temel dinamklerini öğretmek, en doğru başlangıç yöntemleriyle bu sektörde başarılı olamanın yollarını göstermek
                                </p>
                            </div>
                            <span>
                                <a href="blog.html" class="ready-btn">Devamı...</a>
                            </span>
                        </div>
                        <!-- Start single blog -->
                    </div>
                    <!-- End Left Blog-->
                    <!-- Start Right Blog-->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-blog">
                            <div class="single-blog-img">
                                <a href="blog.html">
                                    <img src="/Content/assets/img/blog/3.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-meta">
                                <span class="comments-type">
                                    <i class="fa fa-comment-o"></i>
                                    <a href="#">10 yorum</a>
                                </span>
                                <span class="date-type">
                                    <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                                </span>
                            </div>
                            <div class="blog-text">
                                <h4>
                                    <a href="blog.html">Masanın ekşili çorba orta camisi</a>
                                </h4>
                                <p>
                                    Kendi işini kurmak isteyen girişimcilere network marketing'in temel dinamklerini öğretmek, en doğru başlangıç yöntemleriyle bu sektörde başarılı olamanın yollarını göstermek
                                </p>
                            </div>
                            <span>
                                <a href="blog.html" class="ready-btn">Devamı...</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Right Blog-->
                </div>
            </div>
        </div>
    </div><!-- End Blog Section -->

    <div class="container">
        <div style="border: none;" class="card mb-3" style="">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="~/Content/assets/img/profil.jpg" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        @*<h5 class="card-title">Card title</h5>*@
                        <p class="card-text">1989 yılında Manisa'nın büyük bir ilçesi olan Turgutlu'da doğup büyüdüm. İlk ve ortaokulu bu ilçede tamamladıktan sonra üniversite eğitimim için Kütahya'ya gittim.Hemşirelik okuduğum üniversitede gezmeyi çok sevdiğim ama keyfi olarak gezmeye maddi durumum olmadığı için yaz  stajlarımı başka başka şehirlerde yaptım. Okul bittikten sonra memleketim olan İzmir'e giderek mesleğime burda başladım. Sonra sırasıyla Manisa İstanbul Elazığ ve sonra tekrar İzmir ve son olarak Turgutlu'da çalıştım. Hem devlette hem özel kurumlarda hemşirelik yapıp tayinci gibi şehir şehir gezdim. Mesleğimi çok seviyordum hastalarımı çok seviyordum. Yaşlı bir hasta yakınımın "Çok merhametli bir annesinin" sözünü hala hatırlarım. Ama uzun çalışma saatleri, mobing, hakkettiğin parayı alamamak, izinlerini bile istediğin zaman alamamak, hasta yakınlarından sözlü ve fiziksel şiddet görmek hepsi ve daha fazlasından dolayı aşırı yıprandım. 2020 yılında kızım olacağını öğrenince hayata bakış açım değişti. Artık kızımı büyütürken yapabileceğim ve seyahatlerime engel olmayacak iş ve tabiki bir daha para için endişelenmemek istiyordum. Karşıma inanılmaz bir sektör çıktı. Emeğin karşılığını veren ve insanı geliştiren yetiştiren ve hayallerine ulaştıran.Ve kocaman bir ailem oldu. Çok şükür şu anda gözümün önünde kızımla birlikte büyüyen bir işim ve akademik var. Şimdi de benim gibi hayalleri olan insanlara ortağımla birlikte yardımcı oluyorum.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    





    <!-- ======= Suscribe Section ======= -->
    <div class="suscribe-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
                    <div class="suscribe-text text-center">
                        <h3>Aramıza Katılmak İster misiniz</h3>
                        @*<a class="sus-btn" href="#">Kayıt ol</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Suscribe Section -->
    <!-- ======= Contact Section ======= -->
    <div id="contact" class="contact-area">
        <div class="contact-inner area-padding">
            <div class="contact-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>İletişim</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start contact icon column -->
                    <div class="col-md-6">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="bi bi-phone"></i>
                                <p>
                                    Telefon: +90 545 697 2426<br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start contact icon column -->
                    <div class="col-md-6">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="bi bi-envelope"></i>
                                <p>
                                    Email: fatihdolayman@gmail.com<br>

                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start contact icon column -->
                </div>
                <div>
                    <div>
                        <div class="form contact-form">

                            <form method="post" role="form" class="php-email-form" action="/">
                                <div class="form-group">
                                    <input type="text" name="Name" class="form-control" id="name" placeholder="Ad" required>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="text" name="Surname" class="form-control" id="surname" placeholder="Soyad" required>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="Email" class="form-control" name="email" id="email" placeholder="Email" required>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="tel" class="form-control" name="PhoneNumber" id="subject" placeholder="Telefon" required>
                                </div>

                                <div class="my-3">
                                    <div class="loading">Yükleniyor</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Başarıyla kayıt olundu</div>
                                </div>
                                <div class="text-center"><button type="submit">Kayıt Ol</button></div>
                            </form>
                        </div>
                    </div>
                    <!-- End Left contact -->
                </div>
            </div>
        </div>
    </div><!-- End Contact Section -->
</main>
@if (ViewBag.Success != null && ViewBag.Success == true)
{
    <script>
        toastr.success('@ViewBag.Message');
    </script>
}
else if (ViewBag.Success != null && ViewBag.Success == false)
{
    <script>
        toastr.error('@ViewBag.Message');
    </script>
}

